name: Deploy TravelBook App

on:
  push:
    branches: [ self-hosted-test ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: travelbook
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Stop existing container
        run: |
          docker-compose down || true
      
      - name: Create .env file
        run: |
          echo "TRAVELBOOK_APP_CERTIFICATE_SECRET=${{ secrets.TRAVELBOOK_APP_CERTIFICATE_SECRET }}" > .env
      
      - name: Build and start container
        run: |
          docker compose up -d --build

      - name: Show logs
        run: |
          docker logs travelbook_web --tail 50
      
      - name: Clean up old images
        run: |
          docker image prune -f
