name: Deploy TravelBook (non-Swarm)

on:
  push:
    branches:
      - self-hosted-test

jobs:
  deploy:
    runs-on: travelbook

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Add secrets files
        env:
           AZURE_TENANT_ID: ${{ secrets.BLAZORWEBAPPENTRA_TENANT_ID }}
           AZURE_CLIENT_ID: ${{ secrets.BLAZORWEBAPPENTRA_CLIENT_ID }}
           AZURE_CLIENT_SECRET: ${{ secrets.BLAZORWEBAPPENTRA_CLIENT_SECRET }}
           AZURE_KEYVAULT_URI: ${{ secrets.BLAZORWEBAPPENTRA_KEYVAULT_URI }}
           TRAVELBOOK_APP_CERTIFICATE_SECRET: ${{ secrets.TRAVELBOOK_APP_CERTIFICATE_SECRET }}
        run: |
          if ! docker secret inspect travelbook_azure_tenant_id >/dev/null 2>&1; then
            echo "Tenant ID = $AZURE_TENANT_ID" && echo "$AZURE_TENANT_ID" | \
            docker secret create travelbook_azure_tenant_id -
          fi
          if ! docker secret inspect travelbook_azure_client_id >/dev/null 2>&1; then
            echo "$AZURE_CLIENT_ID" | \
            docker secret create travelbook_azure_client_id -
          fi
          if ! docker secret inspect travelbook_azure_client_secret >/dev/null 2>&1; then
            echo "$AZURE_CLIENT_SECRET" | \
            docker secret create travelbook_azure_client_secret -
          fi 
          if ! docker secret inspect travelbook_azure_keyvault_uri >/dev/null 2>&1; then
            echo "$AZURE_KEYVAULT_URI" | \
            docker secret create travelbook_azure_keyvault_uri -
          fi 
          if ! docker secret inspect travelbook_pfx_password >/dev/null 2>&1; then
            echo "$TRAVELBOOK_APP_CERTIFICATE_SECRET" | \
            docker secret create travelbook_pfx_password -
          fi
          
      - name: Build and run Docker Compose
        env:
           AZURE_TENANT_ID: ${{ secrets.BLAZORWEBAPPENTRA_TENANT_ID }}
           AZURE_CLIENT_ID: ${{ secrets.BLAZORWEBAPPENTRA_CLIENT_ID }}
           AZURE_CLIENT_SECRET: ${{ secrets.BLAZORWEBAPPENTRA_CLIENT_SECRET }}
           AZURE_KEYVAULT_URI: ${{ secrets.BLAZORWEBAPPENTRA_KEYVAULT_URI }}
           TRAVELBOOK_APP_CERTIFICATE_SECRET: ${{ secrets.TRAVELBOOK_APP_CERTIFICATE_SECRET }} 
        run: |
          docker build -t travelbook_app:latest ./TravelBook
          docker run travelbook_app:latest -p 80:80 -p443:443 --name travelbook

      - name: Show running containers
        run: docker ps

      - name: Cleanup unused images
        run: docker image prune -f
