name: Deploy TravelBook

on:
  push:
    branches: [ self-hosted-test ]

jobs:
  deploy:
    runs-on: travelbook

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Ensure Docker Swarm is initialized
        run: |
          docker info | grep -q "Swarm: active" || docker swarm init

      - name: Build Docker image
        run: docker build -t travelbook_app:latest -f TravelBook/Dockerfile .

      - name: Ensure Docker secret exists
        env:
           TRAVELBOOK_APP_CERTIFICATE_SECRET: ${{ secrets.TRAVELBOOK_APP_CERTIFICATE_SECRET }}
        run: |
          if ! docker secret inspect travelbook_pfx_password >/dev/null 2>&1; then
            echo "$TRAVELBOOK_APP_CERTIFICATE_SECRET" | \
            docker secret create travelbook_pfx_password -
          fi
          
      - name: Set environment variables
        env:
           AZURE_TENANT_ID: ${{ secrets.BLAZORWEBAPPENTRA_TENANT_ID }}
           AZURE_CLIENT_ID: ${{ secrets.BLAZORWEBAPPENTRA_CLIENT_ID }}  
           AZURE_CLIENT_SECRET: ${{ secrets.BLAZORWEBAPPENTRA_CLIENT_SECRET }}  
           KEYVAULT_URI: ${{ secrets.BLAZORWEBAPPENTRA_KEYVAULT_URI }}  
        run: |
          export AZURE_TENANT_ID=$AZURE_TENANT_ID
          export AZURE_CLIENT_ID=$AZURE_CLIENT_ID
          export AZURE_CLIENT_SECRET=$AZURE_CLIENT_SECRET
          export KEYVAULT_URI=$KEYVAULT_URI
          
      - name: Deploy stack
        run: docker stack deploy -c docker-compose.yml travelbook

      - name: Cleanup unused images
        run: docker image prune -f
